.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: sans-serif;
}
.title {
  color: #05ff25;
}
.content {
  margin-top: 100px;
  padding: 0 50px;
}
.posion {
  font-size: 36px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
}
.footer {
  text-align: right;
  margin: 100px;
}
